@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
--clr-Green: hsl(75, 94%, 57%);
--clr-White: hsl(0, 0%, 100%);
--clr-Grey: hsl(0, 0%, 20%);
--clr-DarkGrey: hsl(0, 0%, 12%);
--clr-OffBlack: hsl(0, 0%, 8%);
--fw-normal: 400;
--fw-semi-bold: 600;
--fw-bold: 700;
}

html{
    font-size: 62.5%;
}

body{
    font-family: "Inter", sans-serif;
    font-size: 1.4rem;
    font-weight: var(--fw-normal);
    background-color: var(--clr-OffBlack);
    min-height: 100vh;
    display: grid;
    place-content: center;
}

ul{
    list-style: none;
}

a{
    display: block;
    text-decoration: none;
}

.container{
    padding-inline: 15rem;
    margin: 9rem auto 0;
}

.profile{
    background-color: var(--clr-DarkGrey);
    width: 32rem;
    padding: 1.8rem;
    text-align: center;
}

.profile .profile-img{
    width: 9rem;
    aspect-ratio: 1;
    margin: 0 auto;
}

.profile .profile-img img{
    display: inherit;
    max-width: 100%;
    border-radius: 50%;
}

.profile .profile-title{
    margin-top: 3rem;
}

.profile .profile-title h1{
    color: var(--clr-White);
    font-size: 2.3rem;
    font-weight: var(--fw-bold);
}

.profile .profile-title h2{
    color: var(--clr-Green);
    font-size: 1.4rem;
    margin-top: 1rem;
    margin-bottom: 3rem;
}

.profile .profile-header p{
    color: var(--clr-White);
}

.profile .social-media{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
}

.profile .social-media li{
    width: 100%;
}

.profile .social-media li a{
    background-color: var(--clr-Grey);
    color: var(--clr-White);
    padding: 1.6rem 0;
    border-radius: 1rem;
    margin-bottom: 2rem;
    font-weight: var(--fw-semi-bold);
    transition: all .3s ease-in-out;
}

.profile .social-media li:hover a {
    background-color: var(--clr-Green);
    color: var(--clr-OffBlack);
}

@media(min-width: 1200px) {
    .container{
        margin-top: 0;
    }

    .profile{
        width: 38rem;
        padding: 3rem 4rem;
    }
}